{% extends 'base.html' %}
{% load static %}
<!--{% block title %}-->
<!--cart-->
<!--{% endblock %}-->
{% block content %}
<div class="container" style="margin-bottom:100px;">
    <div class="row">
        <h4 class="text-center">Shopping Cart</h4>
        <div class="col-6 border-1">
            <table class="table table-bordered">
                <tr>
                    <th colspan="5">Cart Item</th>

                </tr>
                {% for i in c %}
                <tr>
                    <td><img src="{{i.product.image.url}}" height="150px" width="150px"> </td>
                    <td>{{i.product.name}}</td>
                    <td><b>Product ID: {{i.product.id}}</b><br>
                    <b>Unit Price: {{i.product.price}}</b><br>
                    <b>Quantity: {{i.quantity}}</b><br>
                    </td>
                    <td>Subtotal: {{i.subtotal}}</td>
                    <td>
          {% if i.quantity < i.product.stock %}

          <a href="{% url 'cart:addtocart' i.product.name %}"><i class="fa-solid fa-plus"></i></a>
          <a href="{% url 'cart:cartminus' i.product.name %}"><i class="fa-solid fa-minus"></i></a>
          <a href="{% url 'cart:cartdelete' i.product.name %}"><i class="fa-solid fa-trash-can"></i></a>
        {% else %}
        <a href="{% url 'cart:cartminus' i.product.name %}"><i class="fa-solid fa-minus"></i></a>
          <a href="{% url 'cart:cartdelete' i.product.name %}"><i class="fa-solid fa-trash-can"></i></a>
        {% endif %}
        </td>
                </tr>
                {% endfor %}

            </table></div>
<div class="col-6 border-1">
            <table class="table table-bordered">
        <tr>
            <th colspan="5">Check Out</th>
        </tr>
        <tr><th>Total Amount:  <span style="position:absolute;right/;20px">{{total}}</span></th></tr>
    </table>
    <a href="{% url 'cart:orderform' %}" class="btn btn-danger">Place order</a>
    <a href="{% url 'shop:category' %}" class="btn btn-danger" style="position:absolute;right:20px;">Continue shopping</a>
</div>

    </div>
</div>
{% endblock %}