<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
<center>
<form method="POST">
    {% csrf_token %}
<div class="mb-3">
  <label class="form-label">Address</label>
  <input type="text" class="form-control" name="a" placeholder="Enter the address">
</div>
<div class="mb-3">
  <label class="form-label">Phone Number</label>
  <input type="number" class="form-control" name="p" placeholder="Enter the phone number">
</div>
    <div class="mb-3">
  <label class="form-label">Account Number</label>
  <input type="number" class="form-control" name="n" placeholder="Enter the account number">
</div>
    <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
    </form></center>
</body>
</html>